<div id="<%= dom_id seat %>">

  <div class="container">

    <div class="row row-cols-2">

      <div class="mx-auto d-block">
        <strong>Name:</strong>
        <%= seat.name%>
      </div>
      <div class="mx-auto d-block">
        <strong>Description:</strong>
        <%= seat.description %>
      </div>
    </div>
  </div>

</div>
