<div id="<%= dom_id bulletin %>" class="post-it">

  <p>
    <strong>Date:</strong>
    <%= bulletin.created_at.to_date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= bulletin.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bulletin.description %>
  </p>

</div>


