<div class="d-flex" style="justify-content: center; align-items: center; flex-direction: column">
  <h2>Log in with Google as:</h2>
  <div class="d-flex" style="justify-content: center; align-items: center;">
    <%= link_to library_path, class: "btn-link", style: "padding:2%" do%> 
        <div class="card card-home text-center library">
            <div class="card-header card-header-home library">
                Student
            </div>
            <div class="card-body card-body-home library">  
                <i class="fa-brands fa-google"></i>
            </div>  
        </div>
    <%end%> 
    <%= link_to library_path, class: "btn-link" do%> 
        <div class="card card-home text-center seats">
            <div class="card-header card-header-home seats">
                Admin
            </div>
            <div class="card-body card-body-home seats">  
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>  
        </div>
    <%end%> 
  </div>
</div>


<div id="student-link">
  <%= render "users/shared/links" %>
</div>



