<div class="d-flex" style="justify-content: center; align-items: center; flex-direction: column">
  <h2>Log in with Google as:</h2>
  <div class="d-flex" style="justify-content: center; align-items: center;">
    <div id="student-login" style="padding:2%">
        <%= render "users/shared/links" %>
    </div>
    
    <div id="student-login" style="padding:2%">
        <%= link_to new_admin_session_path, class: "btn-link" do%> 
            <div class="card card-home text-center seats">
                <div class="card-header card-header-home seats">
                    Admin
                </div>
                <div class="card-body card-body-home seats">  
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>  
            </div>
        <%end%> 
    </div>
  </div>
</div>


<div id="student-link">
  
</div>



