
p.p-author{
    margin-bottom: 0rem;
}

button > a {
    color: white;
    text-decoration: none;
}

p.p-prize {
    color: red;
}

.col-flex {
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (min-width: 1300px) {
    body {
        font-size: larger;
    }

    h4{
        font-size: larger;
    }
}
button > a {
    color: white;
    text-decoration: none;
}

p.title {
    font-size: larger;
}
.btn-link {
    text-decoration: none
}


.card-home {
    width: 200px;
    height: 200px;
}
.card-header-home{
    font-size: 30px;
}
.card-body-home{
    font-size: 70px;
}


.card-home.library{
    border: 1px solid #5F9EA0;
}
.card-header-home.library{
    background-color: #5F9EA0;
    color: aliceblue;
}
.card-body-home.library{
    color: #5F9EA0;
}

.card-home.seats{
    border: 1px solid #6495ED;
}
.card-header-home.seats{
    background-color: #6495ED;
    color: aliceblue;
}
.card-body-home.seats{
    color: #6495ED;
}


.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
button.btn.btn-outline-primary.header {
    width: 100%;
    border-radius: 0px;
}

.section-box{
    padding: 15px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
