p.p-author-link{
    padding-right: 10%;
}

p.p-author{
    margin-bottom: 0rem;
}

button > a {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 1300px) {
    body {
        font-size: xx-large;
    }

    h4{
        font-size: larger;
    }
}
