button > a {
    color: white;
    text-decoration: none;
}

p.title {
    font-size: larger;
}

#books-div {
    overflow:auto; 
    height:400px;
    box-shadow: inset 0px 0px 10px 0px #000000;
    border: 1px solid #000000;
    padding: 20px;
}

img.book-img{
    width: 140px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: rgb(156, 156, 156);
}
