<p style="color: green"><%= notice %></p>

<br>

<table style="vertical-align:start">
<tbody>
  <tr>
    <td style="padding-right: 15px;">
      <%= link_to new_author_path, id: "new-author"  do %>
        <i class="fa-solid fa-circle-plus" id="plus-icon" style="font-size: 26px"></i>
      <%end%>
    </td>
    <td>
      <h2>Authors list</h2>
    </td>

    
  </tr>
</tbody>
</table>

<br>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Show this author", author %>
    </p>
  <% end %>
</div>

