<h2 style="text-align:center">My Profile </h2>
<br>
<p style="color: green"><%= notice %></p>
<br>

<%= render @user %>




<%= stylesheet_link_tag "profile" %>


<style>
.card img{
    position: inherit;
    border-radius: 12px;
}
</style>