

    

    <table style="width:100%; table-layout: fixed">
        <tr>
            <td style="padding: 0px;">
                <button id="btn_library" class="btn btn-outline-primary header">Books Catalog</button>
            </td>
            <td style="padding: 0px;">
                <button id="btn_rental" class="btn btn-outline-primary header">Books Hired</button>
            </td>
            <td style="padding: 0px;">
                <button id="btn_secondhand" class="btn btn-outline-primary header">Secondhands books adv</button>
            </td>
            <td style="padding: 0px;">
                <button id="btn_aurhors" class="btn btn-outline-primary header">Authors</button>
            </td>
            <td style="padding: 0px;">
                <button id="btn_categories" class="btn btn-outline-primary header">Categories</button>
            </td>
            <td style="padding: 0px;">
                <button id="btn_courses" class="btn btn-outline-primary header">Courses</button>
            </td>

        </tr>

    </table>

    <section class="section-box">
        <div  style="">
            <div id="main-block"></div>
        </div>
    </section>

    <script>
        function clickSubmit() {
            $("#filter_submit").trigger("click");
        }
    </script>


    <%= stylesheet_link_tag "library" %>
    <%= javascript_pack_tag 'library' %>



