

    <div class="flexbox d-flex section-box">
        <div class="col-4"> 
            <button id="btn_library" class="btn btn-outline-primary header">Lista Libri</button>
        </div>

        <div class="col-4">
            <button id="btn_rental" class="btn btn-outline-primary header">Libri Prenotati</button>
        </div>

        <div class="col-4"> 
            <button id="btn_secondhand" class="btn btn-outline-primary header">Annunci Usato</button>
        </div>
    </div>

    <section class="section-box">
        <div  style="">
            <div id="main-block"></div>
        </div>
    </section>


    <%= stylesheet_link_tag "library" %>
    <%= javascript_pack_tag 'library' %>



