<div id="<%= dom_id book %>">
  <p>
    <strong>Isbn:</strong>
    <%= book.ISBN %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Placeholder:</strong>
    <%= book.placeholder %>
  </p>

</div>
