<p style="color: green"><%= notice %></p>

<h1>View reservations</h1>

<div id="view_reservations">
  <% @view_reservations.each do |view_reservation| %>
    <%= render view_reservation %>
    <p>
      <%= link_to "Show this view reservation", view_reservation %>
    </p>
  <% end %>
</div>

<%= link_to "New view reservation", new_view_reservation_path %>
