<div>
  <div class="container ", style="padding: 10px; width: 65%; text-align: centre;">
    <h1>New reservation</h1>
  </div>
  <%= render "form", reservation: @reservation %>

  <div class="container ", style="padding: 10px; width: 65%; text-align: centre;">

  
  
</div>
