<p style="color: green"><%= notice %></p>

<br>

<table style="vertical-align:start">
<tbody>
  <tr>
    <td style="padding-right: 15px;">
      <%= link_to new_course_path, id: "new-course"  do %>
        <i class="fa-solid fa-circle-plus" id="plus-icon" style="font-size: 26px"></i>
      <%end%>
    </td>
    <td>
      <h2>Courses of study list</h2>
    </td>

    
  </tr>
</tbody>
</table>

<br>


<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", course %>
    </p>
  <% end %>
</div>

