/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background: url('background/background.png');


  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

;}

button.btn-primary{
    background-color: #5F9EA0;
    color: aliceblue;
}

button.btn-primary:hover{
    background-color: #6495ED;
    color: aliceblue;
}

a.btn-primary{
    background-color: #5F9EA0;
    color: aliceblue;
    border: 1px solid #5F9EA0;
}

a.btn-primary:hover{
    background-color: #6495ED;
    color: aliceblue;
    border: 1px solid #5F9EA0;
}


button.btn.btn-outline-primary{
    border: 1px solid #5F9EA0;
    color: #5F9EA0;
}

button.btn.btn-outline-primary:hover{
    background-color: #6495ED;
    border: 1px solid #6495ED;
    color: aliceblue;
}

button.btn.btn-outline-primary:focus{
    background-color: #6495ED;
    border: 1px solid #6495ED;
    color: aliceblue;
}


input.btn.btn-primary{
    border: 1px solid #5F9EA0;
    background-color: #5F9EA0;
    color: aliceblue;
}

input.btn.btn-primary:hover{
    background-color: #6495ED;
    border: 1px solid #6495ED;
    color: aliceblue;
}

button.btn.btn-outline-primary.header{
    background-color: white;
    
}

button.btn.btn-outline-primary.header:hover{
    background-color: #6495ED;
}

button.btn.btn-outline-primary.header:focus{
    background-color: #6495ED;
}