<p style="color: green"><%= notice %></p>


<br>

<table style="vertical-align:start">
<tbody>
  <tr>
    <td style="padding-right: 15px;">
      <%= link_to new_category_path  do %>
        <i class="fa-solid fa-circle-plus" id="plus-icon" style="font-size: 26px"></i>
      <%end%>
    </td>
    <td>
      <h2>Categories list</h2>
    </td>

    
  </tr>
</tbody>
</table>

<br>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

