<h2>Editing secondhand adv</h2>

<%= render "form", secondhand: @secondhand %>

<br>

<div>
  <%= link_to "Show this secondhand", @secondhand %> |
  <%= link_to "Back to secondhands", secondhands_path %>
</div>
