<h1>Editing book rental</h1>

<%= render "form", book_rental: @book_rental %>

<br>

<div>
  <%= link_to "Show this book rental", @book_rental %> |
  <%= link_to "Back to book rentals", book_rentals_path %>
</div>
