<p style="color: green"><%= notice %></p>


<table style="width:80%; vertical-align:start">

  <tbody style="vertical-align: top">
    <tr>
      <td style="width: 220px">
      </td>

      <td>
        <h2>Books hired</h2>
        <div id="book_rentals">
          <% @book_rentals.each do |book_rental| %>
            <%= render book_rental %>
          <% end %>
        </div>


      </td>

    </tr>
    
  </tbody>
</table>