<p style="color: green"><%= notice %></p>

<h1>Book rentals</h1>

<div id="book_rentals">
  <% @book_rentals.each do |book_rental| %>
    <%= render book_rental %>
    <p>
      <%= link_to "Show this book rental", book_rental %>
    </p>
  <% end %>
</div>

<%= link_to "New book rental", new_book_rental_path %>
