<p style="color: green"><%= notice %></p>

<h2>Book rental</h2>
<br>

<%= render @book_rental %>

<br>

<div>
  <%= button_to "Destroy this book rental", @book_rental, class: "btn btn-outline-danger", :data => {:confirm => 'Are you sure you want to delete this book rental?'},  method: :delete %>
</div>

<br>

<div>
  <%= link_to "Back to library", library_path %>
</div>
