<p style="color: green"><%= notice %></p>

<h2>Book rental</h2>
<br>

<%= render 'book_rentals/book_rental_show' %>

<br>

<div>
  <%= if can? :destroy, @book_rental then button_to "Destroy this book rental", @book_rental, class: "btn btn-outline-danger", :data => {:confirm => 'Are you sure you want to delete this book rental?'},  method: :delete end %>
</div>

<br>

<div>
  <%= link_to "Back to library", library_path %>
</div>
